{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'basketapp/js/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="slider" style="height: 550px">
    {% include 'includes/inc_main_menu.html' %}
        <h2 style="margin-top: 50px">КОРЗИНА </h2>
    {% if user.is_authenticated %}
        {% include 'basketapp/includes/inc_basket_list.html' %}
    {% endif %}
    </div>

{% endblock %}