{%  extends 'base.html' %}
{% load static %}

{%  block css %}
	<link rel="stylesheet" type="text/css" href="{%  static 'mainapp/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'mainapp/prod_cat.css' %}">
{% endblock %}

{% block content %}
	<div class="hero-white">
             {% include 'includes/inc_main_menu.html' %}
        </div>
		<div class="details ">
            {%  include 'mainapp/includes/inc_category_menu.html' %}

			<div class="related ">
				<div class="title clearfix ">
					<h2 class="product_category">{{ category.name|title }}</h2>
                </div>
				<div class="related-products clearfix ">
                    {% for item in products %}
                        <div class="block">
                            <a href="{% url 'products:product' item.pk  %}" ><img src="/media/{{ item.image }}" alt="img" class="prod_img_370" >
                                <div class="text">
                                    <img src="{% static 'logbox_shop/img/icon-hover.png' %}" alt="img">
                                    <h4>{{ item.short_desc }}</h4>
                                    <p>{{ item.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

				</div>
			</div>
		</div>

		<div class="clr"></div>
{% endblock %}

