{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="col-4 mx-auto">
    <div class="row">
            <div class="row">
                <div class="user_avatar">
                    Вы действительно хотите удалить категорию {{ object.name }} ?
                </div>
            </div>
            <form class="form-horizontal"  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control" type="submit" value="Удалить">
            </form>
            <button class="btn btn-round form-control last">
                <a href="{% url 'admin_stuff:categories' %}" class="">
                Назад
                </a>
            </button>
    </div>
    </div>
{% endblock %}